/* HTMLをCSSで装飾 */

.title {
    color: #02ccba;
  }

  .btn {
    border-radius: 5px;
    background-color: rgb(132, 144, 148);
    padding: 10px;
    text-decoration: none;
    color: white;
  }

  .subtraction {
    border-radius: 5px;
    background-color: lightblue;
    padding: 10px;
    text-decoration: none;
    color: white;

  }

  .kotae_color {
    color: red;
  }

  main {
    display: flex;
  }

  .midashi {
    font-size: 20px;
    color: rgb(224, 134, 252);
  }

  .aaa{
    font-size: 25px;
    color:#FF99CC;
  }

  .bbb{
    font-size: 25px;
    color:#a19fa1;
  }

  .ccc{
    color:white;
  }

  /* 画像の位置、下記をコメントアウトすると左揃えで並ぶ */

  /*
  .class1 {
    text-align: left
  }
   
  .class2 {
    text-align: center;
  }
   
  .class3 {
    text-align: right;
  }

  */

  .yokonarabi{
    display:flex;
}
.yokonarabi>div{
    width:50%;
}

  
